body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

a{
  color:rgb(255, 140, 0);
}

hr{
  border-color:black!important;
  width: 40%;
  padding-bottom: 20px;
}

header{
  text-align:center;
  padding:70px 0px;
  background-color: black;
  color: white;
}

header h1{
  font-family: 'Francois One', sans-serif;
  font-size: 45px;
}

.strava-logo{
  width:124px;
}

.profile-pic{
  border-radius: 25px;
}

.ytd-container{
  text-align: center;
  padding:70px 0px;
  background-color: rgba(255, 140, 0, 0.6);
}

.ytd-stats{
  margin-top: 10px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
}

.ytd-stats div{
    margin:30px;
  }

.ytd-container h1, .activity h1{
  font-family: 'Passion One', sans-serif;
}

.ytd-container h2{
  font-family: 'Francois One', sans-serif;
}

.activity h2{
  font-family: 'Francois One', sans-serif;
  font-size: 26px;
}

.recent-container{
  background-color: rgba(255, 140, 0, 0.6);
}

.recent-container h1{
  text-align: center;
  font-family: 'Passion One', sans-serif;
  padding:40px;
  margin:0px;
  
}

.activity-container{
  display: flex;
  flex-wrap:wrap;
}
.activity-content{
  width: 50%;
}

.activity{
  margin: 50px 0px 0px 50px;
}

.even{
  background-color: white;
}

#map, #map-0, #map-1, #map-2, #map-3, #map-4 { 
  height:400px;
  width:50%; 
}

.info-container{
  padding:70px 0px;
  background-color: black;
  color: white;
}

.info{
  width: 50%;
  margin:0 auto;
}

@media only screen and (max-width: 500px) {
    body{
      font-size: 14px;
    }

    .ytd-stats{
      margin: 5px;
      flex-direction:column;
    }

    .ytd-stats div{
      margin:5px;
    }

    .activity-content{
      width: 100%;
    }

    .activity{
      margin: 40px;
    }

    #map { 
      height:300px;
      width:100%; 
    }

    .ytd-container h1, .activity h1{
      font-size:28px;
    }

    .ytd-container h2, .activity h2{
      font-size: 20px;
    }

    .info-container{
      padding:20px;
    }

    .info{
      width: 90%;
    }

}

